<section class="pad1 tweets">
  <div class="df">
    <div class="tweets__tweet__face">
      <a class="db" href="http://weibo.com/u/1565668374?refer_flag=1001030101_&is_hot=1" target="_blank">
        <img class="br50p" src="http://tva1.sinaimg.cn/crop.0.0.768.768.50/5d523416jw8f8n48yv1dsj20lc0lc419.jpg" width="100%">
      </a>
    </div>
    <div>
      <a class="db tweets__tweet__name" href="http://weibo.com/u/1565668374?refer_flag=1001030101_&is_hot=1" target="_blank">
        财上海
      </a>
      <time class="cgrey51">2018-02-14 01:23:45</time>
      <div>
        我要不要买房？小地方我不懂。大城市，你这么打分：如果你能首付+贷款批准，现金流能维持两年，你今晚别吃饭了，立即就去买。两年后，无非两个结果，钱多了，足够还贷。钱不够，卖掉赚个几十万回老家。 ​​​​
      </div>
      <div class="df">
        <ul class="df dfc tweets__tweet__media-type">
          <li class="button button-info">图片</li>
          <li class="button button-info">视频</li>
          <li class="button button-info">文件</li>
        </ul>

        <div class="tweets__tweet__media">
          <div>
            <!-- 图片 -->
            <div class="tweets__tweet__media-item"></div>
            <div class="tweets__tweet__media-item"></div>
            <div class="tweets__tweet__media-item"></div>
            <div class="tweets__tweet__media-item"></div>
            <div class="tweets__tweet__media-item"></div>
            <div class="tweets__tweet__media-item"></div>
            <div class="tweets__tweet__media-item"></div>
            <div class="tweets__tweet__media-item"></div>
            <div class="tweets__tweet__media-item"></div>
          </div>
          <div>
            <!-- 视频 -->
          </div>
          <div>
            <!-- 文件 -->
          </div>
        </div>
      </div>
    </div>
  </div>
</section>